.icon{
    transition: all .1s ease-in;
    transition-property: margin;
    display: block;
    margin: 5px auto 2px;
    height: 24px;
    width: 24px;
}

.app-icon-24 {
    background-image: url(https://d3apguah0u98pa.cloudfront.net/images/icons/visual_refresh/sprite-app-icons-24-blue_nov012013.svg);
    background-repeat: no-repeat;
    height: 24px!important;
    width: 24px!important;
}

.app-icon-24.icon-1 {
    background-position: 0 0
}

.app-icon-24.icon-2 {
    background-position: -24px 0
}

.app-icon-24.icon-3 {
    background-position: -48px 0
}

.app-icon-24.icon-4 {
    background-position: -72px 0
}

.app-icon-24.icon-5 {
    background-position: -96px 0
}

.app-icon-24.icon-6 {
    background-position: -120px 0
}

.app-icon-24.icon-7 {
    background-position: -144px 0
}

.app-icon-24.icon-8 {
    background-position: -168px 0
}

.app-icon-24.icon-9 {
    background-position: -192px 0
}

.app-icon-24.icon-10 {
    background-position: -216px 0
}

.app-icon-24.icon-11 {
    background-position: -240px 0
}

.app-icon-24.icon-12 {
    background-position: -264px 0
}

.app-icon-24.icon-13 {
    background-position: -288px 0
}

.app-icon-24.icon-14 {
    background-position: -312px 0
}

.app-icon-24.icon-15 {
    background-position: -336px 0
}

.app-icon-24.icon-16 {
    background-position: -360px 0
}

.app-icon-24.icon-17 {
    background-position: -384px 0
}

.app-icon-24.icon-18 {
    background-position: -408px 0
}

.app-icon-24.icon-19 {
    background-position: -432px 0
}

.app-icon-24.icon-20 {
    background-position: -456px 0
}

.app-icon-24.icon-21 {
    background-position: -480px 0
}

.app-icon-24.icon-22 {
    background-position: 0 -24px
}

.app-icon-24.icon-23 {
    background-position: -24px -24px
}

.app-icon-24.icon-24 {
    background-position: -48px -24px
}

.app-icon-24.icon-25 {
    background-position: -72px -24px
}

.app-icon-24.icon-26 {
    background-position: -96px -24px
}

.app-icon-24.icon-27 {
    background-position: -120px -24px
}

.app-icon-24.icon-28 {
    background-position: -144px -24px
}

.app-icon-24.icon-29 {
    background-position: -168px -24px
}

.app-icon-24.icon-30 {
    background-position: -192px -24px
}

.app-icon-24.icon-31 {
    background-position: -216px -24px
}

.app-icon-24.icon-32 {
    background-position: -240px -24px
}

.app-icon-24.icon-33 {
    background-position: -264px -24px
}

.app-icon-24.icon-34 {
    background-position: -288px -24px
}

.app-icon-24.icon-35 {
    background-position: -312px -24px
}

.app-icon-24.icon-36 {
    background-position: -336px -24px
}

.app-icon-24.icon-37 {
    background-position: -360px -24px
}

.app-icon-24.icon-38 {
    background-position: -384px -24px
}

.app-icon-24.icon-39 {
    background-position: -408px -24px
}

.app-icon-24.icon-40 {
    background-position: -432px -24px
}

.app-icon-24.icon-41 {
    background-position: -456px -24px
}

.app-icon-24.icon-42 {
    background-position: -480px -24px
}

.app-icon-24.icon-43 {
    background-position: 0 -48px
}

.app-icon-24.icon-44 {
    background-position: -24px -48px
}

.app-icon-24.icon-45 {
    background-position: -48px -48px
}

.app-icon-24.icon-46 {
    background-position: -72px -48px
}

.app-icon-24.icon-47 {
    background-position: -96px -48px
}

.app-icon-24.icon-48 {
    background-position: -120px -48px
}

.app-icon-24.icon-49 {
    background-position: -144px -48px
}

.app-icon-24.icon-50 {
    background-position: -168px -48px
}

.app-icon-24.icon-51 {
    background-position: -192px -48px
}

.app-icon-24.icon-52 {
    background-position: -216px -48px
}

.app-icon-24.icon-53 {
    background-position: -240px -48px
}

.app-icon-24.icon-54 {
    background-position: -264px -48px
}

.app-icon-24.icon-55 {
    background-position: -288px -48px
}

.app-icon-24.icon-56 {
    background-position: -312px -48px
}

.app-icon-24.icon-57 {
    background-position: -336px -48px
}

.app-icon-24.icon-58 {
    background-position: -360px -48px
}

.app-icon-24.icon-59 {
    background-position: -384px -48px
}

.app-icon-24.icon-60 {
    background-position: -408px -48px
}

.app-icon-24.icon-61 {
    background-position: -432px -48px
}

.app-icon-24.icon-62 {
    background-position: -456px -48px
}

.app-icon-24.icon-63 {
    background-position: -480px -48px
}

.app-icon-24.icon-64 {
    background-position: 0 -72px
}

.app-icon-24.icon-65 {
    background-position: -24px -72px
}

.app-icon-24.icon-66 {
    background-position: -48px -72px
}

.app-icon-24.icon-67 {
    background-position: -72px -72px
}

.app-icon-24.icon-68 {
    background-position: -96px -72px
}

.app-icon-24.icon-69 {
    background-position: -120px -72px
}

.app-icon-24.icon-70 {
    background-position: -144px -72px
}

.app-icon-24.icon-71 {
    background-position: -168px -72px
}

.app-icon-24.icon-72 {
    background-position: -192px -72px
}

.app-icon-24.icon-73 {
    background-position: -216px -72px
}

.app-icon-24.icon-74 {
    background-position: -240px -72px
}

.app-icon-24.icon-75 {
    background-position: -264px -72px
}

.app-icon-24.icon-76 {
    background-position: -288px -72px
}

.app-icon-24.icon-77 {
    background-position: -312px -72px
}

.app-icon-24.icon-78 {
    background-position: -336px -72px
}

.app-icon-24.icon-79 {
    background-position: -360px -72px
}

.app-icon-24.icon-80 {
    background-position: -384px -72px
}

.app-icon-24.icon-81 {
    background-position: -408px -72px
}

.app-icon-24.icon-82 {
    background-position: -432px -72px
}

.app-icon-24.icon-83 {
    background-position: -456px -72px
}

.app-icon-24.icon-84 {
    background-position: -480px -72px
}

.app-icon-24.icon-85 {
    background-position: 0 -96px
}

.app-icon-24.icon-86 {
    background-position: -24px -96px
}

.app-icon-24.icon-87 {
    background-position: -48px -96px
}

.app-icon-24.icon-88 {
    background-position: -72px -96px
}

.app-icon-24.icon-89 {
    background-position: -96px -96px
}

.app-icon-24.icon-90 {
    background-position: -120px -96px
}

.app-icon-24.icon-91 {
    background-position: -144px -96px
}

.app-icon-24.icon-92 {
    background-position: -168px -96px
}

.app-icon-24.icon-93 {
    background-position: -192px -96px
}

.app-icon-24.icon-94 {
    background-position: -216px -96px
}

.app-icon-24.icon-95 {
    background-position: -240px -96px
}

.app-icon-24.icon-96 {
    background-position: -264px -96px
}

.app-icon-24.icon-97 {
    background-position: -288px -96px
}

.app-icon-24.icon-98 {
    background-position: -312px -96px
}

.app-icon-24.icon-99 {
    background-position: -336px -96px
}

.app-icon-24.icon-100 {
    background-position: -360px -96px
}

.app-icon-24.icon-101 {
    background-position: -384px -96px
}

.app-icon-24.icon-102 {
    background-position: -408px -96px
}

.app-icon-24.icon-103 {
    background-position: -432px -96px
}

.app-icon-24.icon-104 {
    background-position: -456px -96px
}

.app-icon-24.icon-105 {
    background-position: -480px -96px
}

.app-icon-24.icon-106 {
    background-position: 0 -120px
}

.app-icon-24.icon-107 {
    background-position: -24px -120px
}

.app-icon-24.icon-108 {
    background-position: -48px -120px
}

.app-icon-24.icon-109 {
    background-position: -72px -120px
}

.app-icon-24.icon-110 {
    background-position: -96px -120px
}

.app-icon-24.icon-111 {
    background-position: -120px -120px
}

.app-icon-24.icon-112 {
    background-position: -144px -120px
}

.app-icon-24.icon-113 {
    background-position: -168px -120px
}

.app-icon-24.icon-114 {
    background-position: -192px -120px
}

.app-icon-24.icon-115 {
    background-position: -216px -120px
}

.app-icon-24.icon-116 {
    background-position: -240px -120px
}

.app-icon-24.icon-117 {
    background-position: -264px -120px
}

.app-icon-24.icon-118 {
    background-position: -288px -120px
}

.app-icon-24.icon-119 {
    background-position: -312px -120px
}

.app-icon-24.icon-120 {
    background-position: -336px -120px
}

.app-icon-24.icon-121 {
    background-position: -360px -120px
}

.app-icon-24.icon-122 {
    background-position: -384px -120px
}

.app-icon-24.icon-123 {
    background-position: -408px -120px
}

.app-icon-24.icon-124 {
    background-position: -432px -120px
}

.app-icon-24.icon-125 {
    background-position: -456px -120px
}

.app-icon-24.icon-126 {
    background-position: -480px -120px
}

.app-icon-24.icon-127 {
    background-position: 0 -144px
}

.app-icon-24.icon-128 {
    background-position: -24px -144px
}

.app-icon-24.icon-129 {
    background-position: -48px -144px
}

.app-icon-24.icon-130 {
    background-position: -72px -144px
}

.app-icon-24.icon-131 {
    background-position: -96px -144px
}

.app-icon-24.icon-132 {
    background-position: -120px -144px
}

.app-icon-24.icon-133 {
    background-position: -144px -144px
}

.app-icon-24.icon-134 {
    background-position: -168px -144px
}

.app-icon-24.icon-135 {
    background-position: -192px -144px
}

.app-icon-24.icon-136 {
    background-position: -216px -144px
}

.app-icon-24.icon-137 {
    background-position: -240px -144px
}

.app-icon-24.icon-138 {
    background-position: -264px -144px
}

.app-icon-24.icon-139 {
    background-position: -288px -144px
}

.app-icon-24.icon-140 {
    background-position: -312px -144px
}

.app-icon-24.icon-141 {
    background-position: -336px -144px
}

.app-icon-24.icon-142 {
    background-position: -360px -144px
}

.app-icon-24.icon-143 {
    background-position: -384px -144px
}

.app-icon-24.icon-144 {
    background-position: -408px -144px
}

.app-icon-24.icon-145 {
    background-position: -432px -144px
}

.app-icon-24.icon-146 {
    background-position: -456px -144px
}

.app-icon-24.icon-147 {
    background-position: -480px -144px
}

.app-icon-24.icon-148 {
    background-position: 0 -168px
}

.app-icon-24.icon-149 {
    background-position: -24px -168px
}

.app-icon-24.icon-150 {
    background-position: -48px -168px
}

.app-icon-24.icon-151 {
    background-position: -72px -168px
}

.app-icon-24.icon-152 {
    background-position: -96px -168px
}

.app-icon-24.icon-153 {
    background-position: -120px -168px
}

.app-icon-24.icon-154 {
    background-position: -144px -168px
}

.app-icon-24.icon-155 {
    background-position: -168px -168px
}

.app-icon-24.icon-156 {
    background-position: -192px -168px
}

.app-icon-24.icon-157 {
    background-position: -216px -168px
}

.app-icon-24.icon-158 {
    background-position: -240px -168px
}

.app-icon-24.icon-159 {
    background-position: -264px -168px
}

.app-icon-24.icon-160 {
    background-position: -288px -168px
}

.app-icon-24.icon-161 {
    background-position: -312px -168px
}

.app-icon-24.icon-162 {
    background-position: -336px -168px
}

.app-icon-24.icon-163 {
    background-position: -360px -168px
}

.app-icon-24.icon-164 {
    background-position: -384px -168px
}

.app-icon-24.icon-165 {
    background-position: -408px -168px
}

.app-icon-24.icon-166 {
    background-position: -432px -168px
}

.app-icon-24.icon-167 {
    background-position: -456px -168px
}

.app-icon-24.icon-168 {
    background-position: -480px -168px
}

.app-icon-24.icon-169 {
    background-position: 0 -192px
}

.app-icon-24.icon-170 {
    background-position: -24px -192px
}

.app-icon-24.icon-171 {
    background-position: -48px -192px
}

.app-icon-24.icon-172 {
    background-position: -72px -192px
}

.app-icon-24.icon-173 {
    background-position: -96px -192px
}

.app-icon-24.icon-174 {
    background-position: -120px -192px
}

.app-icon-24.icon-175 {
    background-position: -144px -192px
}

.app-icon-24.icon-176 {
    background-position: -168px -192px
}

.app-icon-24.icon-177 {
    background-position: -192px -192px
}

.app-icon-24.icon-178 {
    background-position: -216px -192px
}

.app-icon-24.icon-179 {
    background-position: -240px -192px
}

.app-icon-24.icon-180 {
    background-position: -264px -192px
}

.app-icon-24.icon-181 {
    background-position: -288px -192px
}

.app-icon-24.icon-182 {
    background-position: -312px -192px
}

.app-icon-24.icon-183 {
    background-position: -336px -192px
}

.app-icon-24.icon-184 {
    background-position: -360px -192px
}

.app-icon-24.icon-185 {
    background-position: -384px -192px
}

.app-icon-24.icon-186 {
    background-position: -408px -192px
}

.app-icon-24.icon-187 {
    background-position: -432px -192px
}

.app-icon-24.icon-188 {
    background-position: -456px -192px
}

.app-icon-24.icon-189 {
    background-position: -480px -192px
}

.app-icon-24.icon-190 {
    background-position: 0 -216px
}

.app-icon-24.icon-191 {
    background-position: -24px -216px
}

.app-icon-24.icon-192 {
    background-position: -48px -216px
}

.app-icon-24.icon-193 {
    background-position: -72px -216px
}

.app-icon-24.icon-194 {
    background-position: -96px -216px
}

.app-icon-24.icon-195 {
    background-position: -120px -216px
}

.app-icon-24.icon-196 {
    background-position: -144px -216px
}

.app-icon-24.icon-197 {
    background-position: -168px -216px
}

.app-icon-24.icon-198 {
    background-position: -192px -216px
}

.app-icon-24.icon-199 {
    background-position: -216px -216px
}

.app-icon-24.icon-200 {
    background-position: -240px -216px
}

.app-icon-24.icon-201 {
    background-position: -264px -216px
}

.app-icon-24.icon-202 {
    background-position: -288px -216px
}

.app-icon-24.icon-203 {
    background-position: -312px -216px
}

.app-icon-24.icon-204 {
    background-position: -336px -216px
}

.app-icon-24.icon-205 {
    background-position: -360px -216px
}

.app-icon-24.icon-206 {
    background-position: -384px -216px
}

.app-icon-24.icon-207 {
    background-position: -408px -216px
}

.app-icon-24.icon-208 {
    background-position: -432px -216px
}

.app-icon-24.icon-209 {
    background-position: -456px -216px
}

.app-icon-24.icon-210 {
    background-position: -480px -216px
}

.app-icon-24.icon-211 {
    background-position: 0 -240px
}

.app-icon-24.icon-212 {
    background-position: -24px -240px
}

.app-icon-24.icon-213 {
    background-position: -48px -240px
}

.app-icon-24.icon-214 {
    background-position: -72px -240px
}

.app-icon-24.icon-215 {
    background-position: -96px -240px
}

.app-icon-24.icon-216 {
    background-position: -120px -240px
}

.app-icon-24.icon-217 {
    background-position: -144px -240px
}

.app-icon-24.icon-218 {
    background-position: -168px -240px
}

.app-icon-24.icon-219 {
    background-position: -192px -240px
}

.app-icon-24.icon-220 {
    background-position: -216px -240px
}

.app-icon-24.icon-221 {
    background-position: -240px -240px
}

.app-icon-24.icon-222 {
    background-position: -264px -240px
}

.app-icon-24.icon-223 {
    background-position: -288px -240px
}

.app-icon-24.icon-224 {
    background-position: -312px -240px
}

.app-icon-24.icon-225 {
    background-position: -336px -240px
}

.app-icon-24.icon-226 {
    background-position: -360px -240px
}

.app-icon-24.icon-227 {
    background-position: -384px -240px
}

.app-icon-24.icon-228 {
    background-position: -408px -240px
}

.app-icon-24.icon-229 {
    background-position: -432px -240px
}

.app-icon-24.icon-230 {
    background-position: -456px -240px
}

.app-icon-24.icon-231 {
    background-position: -480px -240px
}

.app-icon-24.icon-232 {
    background-position: 0 -264px
}

.app-icon-24.icon-233 {
    background-position: -24px -264px
}

.app-icon-24.icon-234 {
    background-position: -48px -264px
}

.app-icon-24.icon-235 {
    background-position: -72px -264px
}

.app-icon-24.icon-236 {
    background-position: -96px -264px
}

.app-icon-24.icon-237 {
    background-position: -120px -264px
}

.app-icon-24.icon-238 {
    background-position: -144px -264px
}

.app-icon-24.icon-239 {
    background-position: -168px -264px
}

.app-icon-24.icon-240 {
    background-position: -192px -264px
}

.app-icon-24.icon-241 {
    background-position: -216px -264px
}

.app-icon-24.icon-242 {
    background-position: -240px -264px
}

.app-icon-24.icon-243 {
    background-position: -264px -264px
}

.app-icon-24.icon-244 {
    background-position: -288px -264px
}

.app-icon-24.icon-245 {
    background-position: -312px -264px
}

.app-icon-24.icon-246 {
    background-position: -336px -264px
}

.app-icon-24.icon-247 {
    background-position: -360px -264px
}

.app-icon-24.icon-248 {
    background-position: -384px -264px
}

.app-icon-24.icon-249 {
    background-position: -408px -264px
}

.app-icon-24.icon-250 {
    background-position: -432px -264px
}

.app-icon-24.icon-251 {
    background-position: -456px -264px
}

.app-icon-24.icon-252 {
    background-position: -480px -264px
}

.app-icon-24.icon-253 {
    background-position: 0 -288px
}

.app-icon-24.icon-254 {
    background-position: -24px -288px
}

.app-icon-24.icon-255 {
    background-position: -48px -288px
}

.app-icon-24.icon-256 {
    background-position: -72px -288px
}

.app-icon-24.icon-257 {
    background-position: -96px -288px
}

.app-icon-24.icon-258 {
    background-position: -120px -288px
}

.app-icon-24.icon-259 {
    background-position: -144px -288px
}

.app-icon-24.icon-260 {
    background-position: -168px -288px
}

.app-icon-24.icon-261 {
    background-position: -192px -288px
}

.app-icon-24.icon-262 {
    background-position: -216px -288px
}

.app-icon-24.icon-263 {
    background-position: -240px -288px
}

.app-icon-24.icon-264 {
    background-position: -264px -288px
}

.app-icon-24.icon-265 {
    background-position: -288px -288px
}

.app-icon-24.icon-266 {
    background-position: -312px -288px
}

.app-icon-24.icon-267 {
    background-position: -336px -288px
}

.app-icon-24.icon-268 {
    background-position: -360px -288px
}

.app-icon-24.icon-269 {
    background-position: -384px -288px
}

.app-icon-24.icon-270 {
    background-position: -408px -288px
}

.app-icon-24.icon-271 {
    background-position: -432px -288px
}

.app-icon-24.icon-272 {
    background-position: -456px -288px
}

.app-icon-24.icon-273 {
    background-position: -480px -288px
}

.app-icon-24.icon-274 {
    background-position: 0 -312px
}

.app-icon-24.icon-275 {
    background-position: -24px -312px
}

.app-icon-24.icon-276 {
    background-position: -48px -312px
}

.app-icon-24.icon-277 {
    background-position: -72px -312px
}

.app-icon-24.icon-278 {
    background-position: -96px -312px
}

.app-icon-24.icon-279 {
    background-position: -120px -312px
}

.app-icon-24.icon-280 {
    background-position: -144px -312px
}

.app-icon-24.icon-281 {
    background-position: -168px -312px
}

.app-icon-24.icon-282 {
    background-position: -192px -312px
}

.app-icon-24.icon-283 {
    background-position: -216px -312px
}

.app-icon-24.icon-284 {
    background-position: -240px -312px
}

.app-icon-24.icon-285 {
    background-position: -264px -312px
}

.app-icon-24.icon-286 {
    background-position: -288px -312px
}

.app-icon-24.icon-287 {
    background-position: -312px -312px
}

.app-icon-24.icon-288 {
    background-position: -336px -312px
}

.app-icon-24.icon-289 {
    background-position: -360px -312px
}

.app-icon-24.icon-290 {
    background-position: -384px -312px
}

.app-icon-24.icon-291 {
    background-position: -408px -312px
}

.app-icon-24.icon-292 {
    background-position: -432px -312px
}

.app-icon-24.icon-293 {
    background-position: -456px -312px
}

.app-icon-24.icon-294 {
    background-position: -480px -312px
}

.app-icon-24.icon-295 {
    background-position: 0 -336px
}

.app-icon-24.icon-296 {
    background-position: -24px -336px
}

.app-icon-24.icon-297 {
    background-position: -48px -336px
}

.app-icon-24.icon-298 {
    background-position: -72px -336px
}

.app-icon-24.icon-299 {
    background-position: -96px -336px
}

.app-icon-24.icon-300 {
    background-position: -120px -336px
}

.app-icon-24.icon-301 {
    background-position: -144px -336px
}

.app-icon-24.icon-302 {
    background-position: -168px -336px
}

.app-icon-24.icon-303 {
    background-position: -192px -336px
}

.app-icon-24.icon-304 {
    background-position: -216px -336px
}

.app-icon-24.icon-305 {
    background-position: -240px -336px
}

.app-icon-24.icon-306 {
    background-position: -264px -336px
}

.app-icon-24.icon-307 {
    background-position: -288px -336px
}

.app-icon-24.icon-308 {
    background-position: -312px -336px
}

.app-icon-24.icon-309 {
    background-position: -336px -336px
}

.app-icon-24.icon-310 {
    background-position: -360px -336px
}

.app-icon-24.icon-311 {
    background-position: -384px -336px
}

.app-icon-24.icon-312 {
    background-position: -408px -336px
}

.app-icon-24.icon-313 {
    background-position: -432px -336px
}

.app-icon-24.icon-314 {
    background-position: -456px -336px
}

.app-icon-24.icon-315 {
    background-position: -480px -336px
}

.app-icon-24.icon-316 {
    background-position: 0 -360px
}

.app-icon-24.icon-317 {
    background-position: -24px -360px
}

.app-icon-24.icon-318 {
    background-position: -48px -360px
}

.app-icon-24.icon-319 {
    background-position: -72px -360px
}

.app-icon-24.icon-320 {
    background-position: -96px -360px
}

.app-icon-24.icon-321 {
    background-position: -120px -360px
}

.app-icon-24.icon-322 {
    background-position: -144px -360px
}

.app-icon-24.icon-323 {
    background-position: -168px -360px
}

.app-icon-24.icon-324 {
    background-position: -192px -360px
}

.app-icon-24.icon-325 {
    background-position: -216px -360px
}

.app-icon-24.icon-326 {
    background-position: -240px -360px
}

.app-icon-24.icon-327 {
    background-position: -264px -360px
}

.app-icon-24.icon-328 {
    background-position: -288px -360px
}

.app-icon-24.icon-329 {
    background-position: -312px -360px
}

.app-icon-24.icon-330 {
    background-position: -336px -360px
}

.app-icon-24.icon-331 {
    background-position: -360px -360px
}

.app-icon-24.icon-332 {
    background-position: -384px -360px
}

.app-icon-24.icon-333 {
    background-position: -408px -360px
}

.app-icon-24.icon-334 {
    background-position: -432px -360px
}

.app-icon-24.icon-335 {
    background-position: -456px -360px
}

.app-icon-24.icon-336 {
    background-position: -480px -360px
}

.app-icon-24.icon-337 {
    background-position: 0 -384px
}

.app-icon-24.icon-338 {
    background-position: -24px -384px
}

.app-icon-24.icon-339 {
    background-position: -48px -384px
}

.app-icon-24.icon-340 {
    background-position: -72px -384px
}

.app-icon-24.icon-341 {
    background-position: -96px -384px
}

.app-icon-24.icon-342 {
    background-position: -120px -384px
}

.app-icon-24.icon-343 {
    background-position: -144px -384px
}

.app-icon-24.icon-344 {
    background-position: -168px -384px
}

.app-icon-24.icon-345 {
    background-position: -192px -384px
}

.app-icon-24.icon-346 {
    background-position: -216px -384px
}

.app-icon-24.icon-347 {
    background-position: -240px -384px
}

.app-icon-24.icon-348 {
    background-position: -264px -384px
}

.app-icon-24.icon-349 {
    background-position: -288px -384px
}

.app-icon-24.icon-350 {
    background-position: -312px -384px
}

.app-icon-24.icon-351 {
    background-position: -336px -384px
}

.app-icon-24.icon-352 {
    background-position: -360px -384px
}

.app-icon-24.icon-353 {
    background-position: -384px -384px
}

.app-icon-24.icon-354 {
    background-position: -408px -384px
}

.app-icon-24.icon-355 {
    background-position: -432px -384px
}

.app-icon-24.icon-356 {
    background-position: -456px -384px
}

.app-icon-24.icon-357 {
    background-position: -480px -384px
}

.app-icon-24.icon-358 {
    background-position: 0 -408px
}

.app-icon-24.icon-359 {
    background-position: -24px -408px
}

.app-icon-24.icon-360 {
    background-position: -48px -408px
}

.app-icon-24.icon-361 {
    background-position: -72px -408px
}

.app-icon-24.icon-362 {
    background-position: -96px -408px
}

.app-icon-24.icon-363 {
    background-position: -120px -408px
}

.app-icon-24.icon-364 {
    background-position: -144px -408px
}

.app-icon-24.icon-365 {
    background-position: -168px -408px
}

.app-icon-24.icon-366 {
    background-position: -192px -408px
}

.app-icon-24.icon-367 {
    background-position: -216px -408px
}

.app-icon-24.icon-368 {
    background-position: -240px -408px
}

.app-icon-24.icon-369 {
    background-position: -264px -408px
}

.app-icon-24.icon-370 {
    background-position: -288px -408px
}

.app-icon-24.icon-371 {
    background-position: -312px -408px
}

.app-icon-24.icon-372 {
    background-position: -336px -408px
}

.app-icon-24.icon-373 {
    background-position: -360px -408px
}

.app-icon-24.icon-374 {
    background-position: -384px -408px
}

.app-icon-24.icon-375 {
    background-position: -408px -408px
}

.app-icon-24.icon-376 {
    background-position: -432px -408px
}

.app-icon-24.icon-377 {
    background-position: -456px -408px
}

.app-icon-24.icon-378 {
    background-position: -480px -408px
}

.app-icon-24.icon-379 {
    background-position: 0 -432px
}

.app-icon-24.icon-380 {
    background-position: -24px -432px
}

.app-icon-24.icon-381 {
    background-position: -48px -432px
}

.app-icon-24.icon-382 {
    background-position: -72px -432px
}

.app-icon-24.icon-383 {
    background-position: -96px -432px
}

.app-icon-24.icon-384 {
    background-position: -120px -432px
}

.app-icon-24.icon-385 {
    background-position: -144px -432px
}

.app-icon-24.icon-386 {
    background-position: -168px -432px
}

.app-icon-24.icon-387 {
    background-position: -192px -432px
}

.app-icon-24.icon-388 {
    background-position: -216px -432px
}

.app-icon-24.icon-389 {
    background-position: -240px -432px
}

.app-icon-24.icon-390 {
    background-position: -264px -432px
}

.app-icon-24.icon-391 {
    background-position: -288px -432px
}

.app-icon-24.icon-392 {
    background-position: -312px -432px
}

.app-icon-24.icon-393 {
    background-position: -336px -432px
}

.app-icon-24.icon-394 {
    background-position: -360px -432px
}

.app-icon-24.icon-395 {
    background-position: -384px -432px
}

.app-icon-24.icon-396 {
    background-position: -408px -432px
}

.app-icon-24.icon-397 {
    background-position: -432px -432px
}

.app-icon-24.icon-398 {
    background-position: -456px -432px
}

.app-icon-24.icon-399 {
    background-position: -480px -432px
}

.app-icon-24.icon-400 {
    background-position: 0 -456px
}

.app-icon-24.icon-401 {
    background-position: -24px -456px
}

.app-icon-24.icon-402 {
    background-position: -48px -456px
}

.app-icon-24.icon-403 {
    background-position: -72px -456px
}

.app-icon-24.icon-404 {
    background-position: -96px -456px
}

.app-icon-24.icon-405 {
    background-position: -120px -456px
}

.app-icon-24.icon-406 {
    background-position: -144px -456px
}

.app-icon-24.icon-407 {
    background-position: -168px -456px
}

.app-icon-24.icon-408 {
    background-position: -192px -456px
}

.app-icon-24.icon-409 {
    background-position: -216px -456px
}

.app-icon-24.icon-410 {
    background-position: -240px -456px
}

.app-icon-24.icon-411 {
    background-position: -264px -456px
}

.app-icon-24.icon-412 {
    background-position: -288px -456px
}

.app-icon-24.icon-413 {
    background-position: -312px -456px
}

.app-icon-24.icon-414 {
    background-position: -336px -456px
}

.app-icon-24.icon-415 {
    background-position: -360px -456px
}

.app-icon-24.icon-416 {
    background-position: -384px -456px
}